#my_taost{
	position: fixed;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.82);
	overflow: hidden;
	z-index: 10001;
	padding: 16px 26px;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}