.my_custom_dialog_wrap{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9996;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.3s;
	.my_custom_dialog{
		background-color: #fff;
		border-radius: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(0.6,0.6);
		min-width: 280px;
		max-width: 90%;
		opacity: 0;
		transition: all 0.2s;
		.title{
			height: 44px;
			padding-left: 20px;
			padding-right: 4px;
			display: flex;
			align-items: center;
			span{
				font-size: 18px;
				flex:1;
			}
			.closeBtn{
				width: 44px;
				height: 44px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				img{
					width: 32px;
					opacity: 0.7;
				}
			}
		}
		.content{
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding: 20px;
		}
		.foot{
			display: flex;
			height: 40px;
			.btn{
				flex: 1;
				text-align: center;
				line-height: 40px;
				cursor: pointer;
				&:nth-child(2){
					border-left: 1px solid #ccc;
				}
			}
		}
	}
	&.show{
		background-color: rgba(0,0,0,0.6);
		.my_custom_dialog{
			transform: translate(-50%,-50%) scale(1,1);
			opacity: 1;
		}
	}
}