.itemsComponent{
	.itemList{
		.item{
			display: flex;
			align-items: center;
			height: 40px;
			span{
				padding-right: 10px;
			}
			i{
				border-radius: 5px;
				text-align: center;
				background-color: #ec8971;
				color: #fff;
				cursor: pointer;
				font-size: 12px;
				padding: 0px 5px;
				line-height: 16px;
			}
		}
	}
	.addItem{
		input{
			height: 26px;
			padding-left: 5px;
		}
		button{
			height: 26px;
			width: 60px;
		}
	}
}