:root {
  --color-theme: #1ab3b0;
  --color-theme-dark: #04a19f;
  --color-theme-light: #d8fffe;
}

#root{
	height: 100%;
	font-size: 14px;
	.App{
		height:100%;
		>div{
			height: 100%;
		}
	}
}

.mybtn{
	width: 72%;
	max-width: 400px;
	height: 32px;
	border-radius: 5px;
	margin: 20px auto;
	text-align: center;
	line-height: 32px;
	color: #fff;
	background-color: var(--color-theme);
	cursor: pointer;
	transition: all 0.2s;
	&:hover{
		box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	}
}

.pageCon{
	max-width: 1200px;
	margin: 0 auto;
	.section{
		padding: 15px;
		border-bottom: 1px solid #ccc;
		h2{
			padding-bottom: 10px;
		}
	}
	.bigText{
		font-size: 18px;
	}
}