.loginPage{
	min-height: 100%;
	background-image: linear-gradient(to bottom right, #4540c3, #e26e30);
	display: flex;
	align-items: center;
	justify-content: center;
	.loginForm{
		width: 400px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 8px rgba(0,0,0,0.3);
		padding: 25px 20px 15px;
		margin-bottom: 100px;
		.logo{
			display: block;
			width: 90px;
			margin: 10px auto 20px;
		}
		p{
			text-align: center;
			line-height: 20px;
			padding-bottom: 20px;
			color: #787878;
		}
		.row{
			display: flex;
			align-items: center;
			height: 50px;
			position: relative;
			padding-right: 20px;
			.label{
				width: 92px;
			}
			input{
				width: 0;
				flex: 1;
				border-radius: 4px;
				height: 30px;
				line-height: 30px;
				padding: 0 5px;
			}
			.errTip{
				position: absolute;
				bottom: -7px;
				font-size: 12px;
				color: red;
				left: 93px;
			}
		}
		.loginBtn{
			margin-top: 30px;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
		}
	}
	
	@media screen and (max-width:480px) {
		.loginForm{
			width: 80%;
			margin-bottom: 0;
			.row{
				padding-right: 10px;
			}
		}
	}
}