#my_loading_wrap{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0);
	z-index: 9999;
	transition: all 0.3s;
	.my_loading{
		position: absolute;
		z-index: 10000;
		width: 76px;
		height: 76px;
		border-radius: 10px;
		top: calc(50% - 40px);
		left: calc(50% - 40px);
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: scale(0.6,0.6);
		transition: transform 0.2s;
		overflow: hidden;
		svg{
			width: 70px;
			height: 70px;
		}
	}
	&.show{
		background-color: rgba(0,0,0,0.5);
		transition: all 0.5s;
		.my_loading{
			transform: scale(1,1);
		}
	}
	&.hide{
		transition: all 0.2s;
		opacity: 0;
	}
}