.my_dialog_wrap{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9998;
	background-color: rgba(0,0,0,0.6);
	transition: opacity 0.25s;
	opacity: 0;
	.my_dialog{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(0.6,0.6);
		background-color: #fff;
		border-radius: 10px;
		min-width: 200px;
		transition: transform 0.2s;
		.my_dialog_title{
			font-size: 16px;
			padding: 12px 20px 5px;
		}
		.my_dialog_content{
			border-bottom: 1px solid #ddd;
			padding: 10px 20px 15px;
		}
		.my_dialog_foot{
			display: flex;
			height: 34px;
			.my_dialog_btn{
				flex:1;
				line-height: 34px;
				text-align: center;
				cursor: pointer;
				&:nth-child(2){
					border-left: 1px solid #dedede;
				}
			}
		}
	}
	&.show{
		opacity: 1;
		.my_dialog{
			transform: translate(-50%,-50%) scale(1,1);
		}
	}
	&.hide{
		opacity: 0;
	}
}