.firstPage{
	.section3{
		p{
			line-height: 36px;
			span{
				border-radius: 4px;
				color: #000;
				background-color: var(--color-theme-light);
				margin-right: 10px;
				padding: 2px 8px;
			}
		}
	}
}