.secondPage{
	.pageCon{
		.section{
			.editOrderPrice{
				height: 50px;
				display: flex;
				align-items: center;
				input{
					width: 60px;
					height: 24px;
					line-height: 24px;
					margin: 0 5px;
					text-align: center;
				}
				p{
					padding-right: 10px;
				}
				span{
					display: block;
					width: 24px;
					height: 24px;
					line-height: 24px;
					border-radius: 50%;
					background-color: var(--color-theme-dark);
					color: #fff;
					text-align: center;
					font-size: 18px;
					cursor: pointer; 	
				}
			}
			&.section6{
				button{
					padding: 5px 12px;
					margin-right: 20px;
				}
			}
		}
		.childComp{
			p{
				padding: 5px;
			}
			button{
				padding: 5px;
			}
		}
	}
	.customDialogCon{
		text-align: center;
		p{
			line-height: 32px;
		}
		img{
			width: 100px;
		}
	}
}