.mainLayout{
	.mainHeader{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		height: 50px;
		display: flex;
		align-items: center;
		.topNav{
			flex: 1;
			display: flex;
			a{
				padding: 0 20px;
				font-size: 16px;
				font-weight: 450;
			}
		}
		.user{
			padding-right: 12px;
			i{
				padding-right: 20px;
			}
			span{
				border: 1px solid #ddd;
				padding: 5px 12px;
				border-radius: 4px;
				cursor: pointer;
			}
		}
	}
	.mainContainer{
		border-top: 1px solid #ddd;
		padding: 20px;
	}
}